.borda{
/*  border:5px dashed blue;*/

    border-width: 5px;
    border-top-color:red;
    border-radius: 5px;
}

.quadrado{
    width:100px;
    height:100px;
    background-color: yellow;
}

.dotted{border-style: dotted;}
.dashed{border-style: dashed;}
.solid{border-style:solid}
.none{border-style: none;}
.hidden{border-style:hidden}
.round{border-radius:10px}